@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

$font-family : 'Red Hat Text', sans-serif;
$font-regular-desktop : 14px;
$font-regular-mobile : 8px;
$font-heading-desktop : 14px;
$font-heading-mobile : 9px;
